.empowerparents {
    background-color: white;
}

.empowerparents h1 {
    color: white;
    font-size: 3.2rem;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 2rem 0 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-weight: 400;
    text-align: center;
    background: linear-gradient(90deg, #F2709C 30.42%, #FF9472 117.42%);
}

.ediv1 {
    display: flex;
    width: 70%;
    margin: auto;
    align-items: center;
    margin-top: 5rem;
}

.ediv1 img {
    width: 80%;
}

.ediv1 h2 {
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 127.69%;
    text-align: center;
    color: rgba(0, 0, 0, 0.64);
}