.hero {
    height: 82vh;
    background: url(res/Frame\ 3\ \(4\).svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    padding-left: 6rem;
    justify-content: space-between;
    background-color: white;
}

.hero .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hero span {
    font-weight: 500;
    color: #0094FF;
}

.left h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 5rem;
    line-height: 156.19%;
    color: rgba(0, 0, 0, 0.6);
}

.left p {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 4rem;
    color: rgba(0, 0, 0, 0.6);
}

.hero .right {
    width: 50%;
    position: relative;
    transition: 1s;
}

.right:hover {
    transform: translate(-60px);
}

.hero img {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 80%;
    filter: drop-shadow(21px 9px 15px gray);
}